<div class="jumbotron">
  <h1>Welcome to Zoltar's Question Box</h1>
  <p>You've got questions and he has all the answers your mind desires got answers...</p>
</div>


<%= link_to questions_path do %>
  <div class="zoltar">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
  </div>
<% end %>
