.controller-pages.action-welcome .fa-question-circle-o {
	font-size: 25em;
	text-align: center;
	width: 100%;
}

.zoltar {
	background-image: url(Zoltar-from-Big.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
